body{
    background-color: #f0f0f0;
    
    
}
.font {
    font-family: 'Frank Ruhl Libre', serif;
    
}
p {
    color : #9400D3;
}
.discover {
    background-color: #9400D3;
    padding:5px 50px 5px 50px;
    color: black;    
}
.space{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin: 100px ;
    padding: 50px 50px 50px;
    background-color:#F0F8FF;
    border-radius: 1%;

    
    
}

.p{
    margin-right: 50px;
}